.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    margin: 10px 0 0 0;
}

.blogOwner {
    font-weight: bold;
    font-size: 1.6em;
    margin: 0;
    padding-left: 0;
}

.rightHeader {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.nav ul {
    display: flex;
    flex-direction: row;
}

.nav li {
    list-style-type: none;
    margin-right: 10px;
    font-weight: normal;
    text-transform: uppercase;
    transition:all ease 0.5s;
}

.nav li a:hover{
    font-weight: bold;
}

.nav li a{
    color: #212121;
    text-decoration: none;
}

.search {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.search button, .search input {
    border: none;
    background: none;
}

.search input:focus {
    display: none;
    outline: none;
}

@media all and (max-width: 600px) {
    .header {
        flex-direction: column;
    }

    .rightHeader {
        width: 100%;
        justify-content: center;
    }
}