.carousel{
    background: lightgrey;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 10px 0;
}
.image{
    height: 200px;
    width: 25%;
    object-fit: fill;
}

@media all and (max-width: 600px) {
    .image {
        height: 100px;
    }
}