.landingImage{
    display: flex;
    align-content: center;
    height: 200px;
    width: 100%;
    margin: 30px 0 30px 0;
    padding: 0;
    background-image: url("../Images/dev_world.jpg");
}

.bottomMedia{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}